@mixin transition_effect($time, $effect) {
  -webkit-transition: all $time $effect;
  -ms-transition: all $time $effect;
  -moz-transition: all $time $effect;
  transition: all $time $effect;
}

@mixin placeholder-color($input-color) {
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $input-color;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $input-color;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $input-color;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: $input-color;
  }
}

@mixin display_flex($flex-type) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: $flex-type;
  -webkit-justify-content: $flex-type;
  -moz-justify-content: $flex-type;
  -o-justify-content: $flex-type;
  -ms-justify-content: $flex-type;
}

@mixin home_title($title-color) {
  font-family: $titillium;
  font-weight: 300;
  font-size: 35px;
  margin: 0;
  text-transform: uppercase;
  color: $title-color;
  position: relative;
  text-align: center;

  @media only screen and (max-width: 768px) {
    font-size: 28px;
  }
}

@mixin paragraph($paragraph-color) {
  font-family: $lora;
  text-align: center;
  color: $paragraph-color;
  font-size: 18px;
  padding-top: 1.5em;
  line-height: 22px;
}

@mixin background-opacity($color, $opacity: 0.95) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

@mixin sm-simple__sub-items-indentation($amount, $chainable: "ul ", $level: 4, $chain: "") {
  @for $i from 1 through $level {
    $chain: $chain + $chainable;
    #{$chain} a,
    #{$chain} a:hover,
    #{$chain} a:focus,
    #{$chain} a:active {
      border-left: ($amount * ($i + 1)) solid transparent;
    }
  }
}

@mixin keyframeAnimation(
  $Zvaluefrom,
  $Zvalueto,
  $Yvaluefrom,
  $Yvalueto,
  $Xvaluefrom,
  $Xvalueto,
  $degreesfrom,
  $degreesto
) {
  from {
    -webkit-transform: rotate3d($Zvaluefrom, $Yvaluefrom, $Xvaluefrom, $degreesfrom);
    -o-transform: rotate3d($Zvaluefrom, $Yvaluefrom, $Xvaluefrom, $degreesfrom);
    -moz-transform: rotate3d($Zvaluefrom, $Yvaluefrom, $Xvaluefrom, $degreesfrom);
    -ms-transform: rotate3d($Zvaluefrom, $Yvaluefrom, $Xvaluefrom, $degreesfrom);
    transform: rotate3d($Zvaluefrom, $Yvaluefrom, $Xvaluefrom, $degreesfrom);
  }
  to {
    -webkit-transform: rotate3d($Zvalueto, $Yvalueto, $Xvalueto, $degreesto);
    -o-transform: rotate3d($Zvalueto$Yvalueto, $Xvalueto, $degreesto);
    -moz-transform: rotate3d($Zvalueto$Yvalueto, $Xvalueto, $degreesto);
    -ms-transform: rotate3d($Zvalueto$Yvalueto, $Xvalueto, $degreesto);
    transform: rotate3d($Zvalueto, $Yvalueto, $Xvalueto, $degreesto);
  }
}

@mixin animationcontent($keyframename, $duration, $delay, $animation) {
  -webkit-animation: $keyframename $duration $delay $animation;
  -webkit-animation: $keyframename $duration $delay $animation;
  -moz-animation: $keyframename $duration $delay $animation;
  -ms-animation: $keyframename $duration $delay $animation;
  -o-animation: $keyframename $duration $delay $animation;
  animation: $keyframename $duration $delay $animation;
}

@-webkit-keyframes firstRotated {
  from {
    -webkit-transform: -webkit-rotate3d(0, 0, 0, 0deg);
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: -webkit-rotate3d(0, 150, 0, 360deg);
    -webkit-transform: rotate3d(0, 150, 0, 360deg);
    -o-transform: rotate3d(0, 150, 0, 360deg);
    transform: rotate3d(0, 150, 0, 360deg);
  }
}

@keyframes firstRotated {
  from {
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -webkit-transform: -webkit-rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -ms-transform: rotate3d(50, 150, 0, 360deg);
    -moz-transform: rotate3d(50, 150, 0, 360deg);
    -webkit-transform: -webkit-rotate3d(50, 150, 0, 360deg);
    -o-transform: rotate3d(50, 150, 0, 360deg);
    transform: rotate3d(50, 150, 0, 360deg);
  }
}

@-webkit-keyframes secondRotated {
  from {
    -webkit-transform: -webkit-rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: -webkit-rotate3d(120, 0, 0, 360deg);
    -o-transform: rotate3d(120, 0, 0, 360deg);
    transform: rotate3d(120, 0, 0, 360deg);
  }
}

@keyframes secondRotated {
  from {
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -webkit-transform: -webkit-rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -ms-transform: rotate3d(-80, 280, 0, 360deg);
    -moz-transform: rotate3d(-80, 280, 0, 360deg);
    -webkit-transform: -webkit-rotate3d(-80, 280, 0, 360deg);
    -o-transform: rotate3d(-80, 280, 0, 360deg);
    transform: rotate3d(-80, 280, 0, 360deg);
  }
}

@-webkit-keyframes thirdRotated {
  from {
    -webkit-transform: -webkit-rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(60, 190, 0, 360deg);
    -o-transform: rotate3d(60, 190, 0, 360deg);
    transform: rotate3d(60, 190, 0, 360deg);
  }
}

@keyframes thirdRotated {
  from {
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -webkit-transform: -webkit-rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -ms-transform: rotate3d(60, 190, 0, 360deg);
    -moz-transform: rotate3d(60, 190, 0, 360deg);
    -webkit-transform: -webkit-rotate3d(60, 190, 0, 360deg);
    -o-transform: rotate3d(60, 190, 0, 360deg);
    transform: rotate3d(60, 190, 0, 360deg);
  }
}
